# Python bytecode
__pycache__/
*.pyc

# Virtual Environments
venv/
env/

# Editor settings
.vscode/
.idea/

# Environment variables (Security)
.env

# Distribution / Build artifacts (ВАЖНО для PyPI пакетов)
dist/
build/
*.egg-info/
.lingma/